:root{
    --clr-neutral-900: hsl(207, 19%, 9%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-accent-400: hsl(204, 90%, 61%);
}
body{
    
    background-color: rgb(178, 189, 207);
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/*Navigation Bar*/
header{
    background:whitesmoke;
}
/*need to avoid the header shrinking since logo and bar are floating*/
header::after{
    content:'';
    display: table;
    clear:both;
    
    
}

.navigation{
    width:95%;
    margin: 0 auto;
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    
}
.logo{
    padding: 10px 0;
    float:left;
    
}
nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;

    position: relative;
}

nav ul > li > a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: rgb(62, 63, 161);
}
/*loading bar thingy*/
nav a::before{
    content:'';
    display: block;
    height:5px;
    width:0%;
    background-color:rgb(62, 63, 161);
    position: absolute;
    top:0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width:100%;
}

/*Introduction page*/

.portrait{
    margin-top:10px;
    margin-bottom:0;
    padding-bottom:0;
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
    border: 3px solid white;
}
.center{
    text-align: center;
    padding-bottom: 20px;
}
h1{
    font-size: clamp(1rem,2vw , 5rem);
    position: relative;
    font-family: "Source Code Pro", monospace;   
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top:0;
    margin-top:0;
    margin-bottom:0;
}

h1::before,
h1::after{
    content:'';
    position: absolute;

    top:0;
    right:0;
    bottom:0;
    left:0;
}

h1::before{
    background:rgb(178, 189, 207);
    animation: typewriter 3s steps(23) 500ms forwards;
}

h1::after{
    width: 0.125em;
    background: black;
    animation: typewriter 3s steps(23) 500ms forwards, blink 500ms steps(23) infinite;
}
.subtitle{
    color: hsl(0 0% 0% / 0.7);
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    margin-bottom: 2rem;
    margin-top: 0;
    animation: fadeInUp 2s ease 4s forwards;
}

@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriter{
    to{
        left: 100%;
    }

}

@keyframes blink{
    to{
        background: transparent;
    }
}

h2{
    font-family: "Work Sans", sans-serif;
    font-size: 28;
}

.body2{
    font-family: "PT Sans", serif;
    background: rgb(210, 217, 233);
    font-size: 18px;
    padding: 10px 50px;
    line-height: 1.5;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logos > a{
    padding: 10px 25px;
    
}

.logos >a > i{
    color:black;
}

.logos > a > i:hover{
    color:rgb(210, 210, 233);
}

.body1{
    font-family: "PT Sans", serif;
    font-size: 18px;
    padding: 10px 50px;
    line-height: 1.5;
}

.grad{
    float: left;
    padding-right: 10px;
}

.projects{
   width: 80%;
   height: 600px;
   padding: 5px;
   margin: auto;
   background: rgb(210, 210, 233);
   margin-bottom: 50px;
   
}
.tabbox{
    width: 40%;
    height: 600px;
    text-align: center;
    float: left;
    position: relative;
    
}
/*Slide show for projects will go here*/
.slideshow{
    margin-left: 0%;
    max-width: 100%;
    height: 600px;
    position:relative;
}

.slidershow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.selector{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    display: none;
    visibility: hidden;
}

.slides{
    width: 300%;
    height: 100%;
    display: flex;
}

.slide{
    width: 33.33%;
    transition: 0.6s;
    position: relative;
}

.slide img{
    width:100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0;
}

#r2:checked ~ .s1{
    margin-left:-33.33%;
}

#r3:checked ~ .s1{
    margin-left:-66.66%;
}

.button{
    position: absolute;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    right:20px;
    bottom:20px;
}
.button#b1{
    background-color:blue;
}
.button#b2{
    background-color:rgb(62, 63, 161);
}
.button#b3{
    background-color:purple;
}

.skilltabs{
    position:absolute;
    bottom: 20px;
    left: 20px;

}
.skill{
    display: inline-block;
    text-align: center;
   
    background-color: white;
    border-radius:5px;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid black;
}
.skill#Java{
    background-color: #1FBED6;
}
.skill#Git{
    background-color: rgb(94, 6, 94);
    color: white;
}
.skill#Android{
    background-color: #a4c639;
}
.skill#UIUX{
    background-color:#bfdecb
}
.skill#C{
    background-color:#FFB900;
}
.skill#Cplus{
    background-color:#f1c85e;
}
.skill#Linux{
    background-color:gray;
    color:white;
}
.skill#Arduino{
    background-color:#00FFFF;
}
.skill#Python{
    background-color:#4169e1;
    color:white;
}
.skill#Solidworks{
    background-color: #BA151B;
    color: white;
}
/*left side*/
.tabtext{
    height: 33.33%;
}

.hobby-wrapper{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

.card-content{
    --padding: 1.5rem;
    padding: var(--padding);
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsl(0 0% 0% / 0.3) 10%,
        hsl(0 0% 0% / 1)
    );
    transform: translateY(70%);
    transition: transform 500ms ease;
}

.card-content > *:not(.card-title){
    opacity:0;
    transition: opacity 500ms linear;
}

.card:hover .card-content,
.card:focus-within .card-content{
    transform: translateY(0%);
    transition-delay: 500ms;
}

.card:focus-within .card-content{
    transition-duration: 0ms;
}

.card:hover .card-content > *:not(.card-title),
.card:focus-within .card-content > *:not(.card-title){
    opacity: 1;
    transition-delay: 1000ms;
}

.card-title{
    position: relative;
    width: max-content;
}

.card-title::after{
    content:"";
    position: absolute;
    height: 4px;
    left: calc(var(--padding) * -1);
    bottom: 0;
    background: var(--clr-accent-400);
    width: calc(100% + var(--padding));
    transform: scaleX(0);

    transition: transform 500ms ease;
    transform-origin: left;
}

.card:hover .card-title::after{
    transform: scaleX(1);

}

.card{
    color: var(--clr-neutral-100);
    font-family: sans-serif;
    background-image: url(../images/FatAndrew.jpg);
    background-size:cover;
    padding: 8rem 0 0;
    max-width: 30ch;
    min-width: 20ch;
    border-radius: .5rem;
    overflow: hidden;
    display: inline-block;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: .5rem;
    transition: transform 500ms ease;
}

.card#pc{
    background-image: url(../images/Computer.jpg);
}

.card#keeb{
    background-image:url(../images/Keyboard.jpg);
}

.card#spotify{
    background-image:url(../images/Spotify.jpg);
    background-position: center;
}

.card#valorant{
    background-image:url(../images/Valorant-Omen.jpg);
    background-position: center;
}

.card#food{
    background-image:url(../images/food2.jpg);
    background-position: center;
}

.card:hover,
.card:focus-within{
    transform: scale(1.05);

}

.card-body{
    color: rgb(255 255 255 /0.85);
}

.hobby-button{
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-neutral-900);
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: .5rem;
}

.hobby-button:hover,
.hobby-button:focus{
    background-color: var(--clr-neutral-100);
}

.closer{
    padding-top: 3rem;
    padding-bottom: 5rem;
}
.body2 > .closer > p{
    text-align:center;
}
