
body{
    
    background-color: rgb(210, 210, 233);
    min-height: 100vh;
    padding: 0px;
    margin: 0px;
    
}

a{
    text-decoration: none;
}

/*Navigation Bar*/
header{
    background:whitesmoke;
}
/*need to avoid the header shrinking since logo and bar are floating*/
header::after{
    content:'';
    display: table;
    clear:both;
    
    
}

.navigation{
    width:95%;
    margin: 0 auto;
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    
}
.logo{
    padding: 10px 0;
    float:left;
    
}
nav{
    float:right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav li{
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;

    position: relative;
}

nav ul > li > a{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a:hover{
    color: rgb(62, 63, 161);
}
/*loading bar thingy*/
nav a::before{
    content:'';
    display: block;
    height:5px;
    width:0%;
    background-color:rgb(62, 63, 161);
    position: absolute;
    top:0;
    transition: all ease-in-out 200ms;
}

nav a:hover::before{
    width:100%;
}

/*Introduction page*/

.portrait{
    margin-top:10px;
    margin-bottom:0;
    padding-bottom:0;
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
    border: 3px solid white;
}
.center{
    text-align: center;
    padding-bottom: 20px;
}
h1{
    font-size: clamp(1rem,2vw , 5rem);
    position: relative;
    font-family: "Source Code Pro", monospace;   
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top:0;
    margin-top:0;
    margin-bottom:0;
}

h1::before,
h1::after{
    content:'';
    position: absolute;

    top:0;
    right:0;
    bottom:0;
    left:0;
}

h1::before{
    background:rgb(210, 210, 233);
    animation: typewriter 3s steps(23) 500ms forwards;
}

h1::after{
    width: 0.125em;
    background: black;
    animation: typewriter 3s steps(23) 500ms forwards, blink 500ms steps(23) infinite;
}
.subtitle{
    color: hsl(0 0% 0% / 0.7);
    font-size: 1.5rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    margin-bottom: 2rem;
    margin-top: 0;
    animation: fadeInUp 2s ease 4s forwards;
}

@keyframes fadeInUp{
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriter{
    to{
        left: 100%;
    }

}

@keyframes blink{
    to{
        background: transparent;
    }
}

h2{
    font-family: "Work Sans", sans-serif;
    font-size: 28;
}

.body2{
    font-family: "PT Sans", serif;
    background: whitesmoke;
    font-size: 18px;
    padding: 10px 50px;
    line-height: 1.5;
}

.logos{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.logos > a{
    padding: 10px 25px;
    
}

.logos >a > i{
    color:black;
}

.logos > a > i:hover{
    color:rgb(210, 210, 233);
}

.body1{
    font-family: "PT Sans", serif;
    font-size: 18px;
    padding: 10px 50px;
    line-height: 1.5;
}

.grad{
    float: left;
    padding-right: 10px;
}

.projects{
   width: 80%;
   height: 600px;
   padding: 5px;
   margin: auto;
   background: rgb(210, 210, 233);
   margin-bottom: 50px;
   
}
.tabbox{
    width: 40%;
    height: 500px;
    text-align: center;
    float: left;
    position: relative;
    
}
/*Slide show for projects will go here*/
.slideshow{
    margin-left: 0%;
    max-width: 100%;
    height: 600px;
    position:relative;
}

.slidershow{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}

.selector{
    position: absolute;
    bottom: 20px;
    left: 50%;
    display: flex;
    transform: translateX(-50%);
}
.bar{
    width: 50px;
    height: 10px;
    border: 2px solid white;
    margin: 6px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover{
    background: #fff;
}

input[name="r"]{
    display: none;
    visibility: hidden;
}

.slides{
    width: 300%;
    height: 100%;
    display: flex;
}

.slide{
    width: 33.33%;
    transition: 0.6s;
    position: relative;
}

.slide img{
    width:100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0;
}

#r2:checked ~ .s1{
    margin-left:-33.33%;
}

#r3:checked ~ .s1{
    margin-left:-66.66%;
}

.button{
    position: absolute;
    color: white;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    right:20px;
    bottom:20px;
}
.button#b1{
    background-color:blue;
}
.button#b2{
    background-color:rgb(62, 63, 161);
}
.button#b3{
    background-color:purple;
}

/*left side*/
.tabtext{
    height: 33.33%;
}

